<div class="flex flex-col items-center max-w-96 mx-auto">
  <select
    *ngIf="input"
    (change)="getLang($event.target)"
    class="select bg-white select-sm w-full self-start max-w-56 mb-3"
  >
    <option
      [(disabled)]="readonly"
      [selected]="!langValue || langValue === 'JavaScript'"
      value="JavaScript"
    >
      JavaScript
    </option>
    <option
      [(disabled)]="readonly"
      value="TypeScript"
      [selected]="langValue === 'TypeScript'"
    >
      TypeScript
    </option>
    <option
      [(disabled)]="readonly"
      value="Cpp"
      [selected]="langValue === 'Cpp'"
    >
      C++
    </option>
    <option
      [(disabled)]="readonly"
      value="Python"
      [selected]="langValue === 'Python'"
    >
      Python
    </option>
  </select>

  <div
    #codemirror
    [ngClass]="{ hidden: input == '' }"
    class="w-full md:max-w-96 lg:max-w-xl sm:max-w-full max-w-56"
  ></div>
  <textarea
    *ngIf="lessId === 3 || lessId === 5"
    [readonly]="readonly"
    [(ngModel)]="text"
    class="textarea textarea-bordered bg-white w-full sm:w-96 mx-auto text-black"
    placeholder="เขียนคำตอบ..."
  ></textarea>
  
  <div
    class="flex flex-row-reverse justify-end md:justify-start w-full gap-4 mt-3"
  >
    <button
      (click)="showValue($event, 'next')"
      class="btn btn-sm btn-info text-white"
    >
      ถัดไป
    </button>
    <button
      (click)="showValue($event, 'prev')"
      class="btn btn-warning btn-sm text-white"
    >
      ย้อนกลับ
    </button>
  </div>
</div>
