<div
  routerLink="/detail/{{ lessonDetail?.email }}"
  class="w-full h-fit font-[th-font] cursor-pointer rounded-xl shadow-xl bg-base-100 md:p-5 p-4"
>
  <div class="flex gap-4 flex-col sm:flex-row w-full justify-between">
    <div class="flex-1">
      <p class="text-md md:text-lg sm:tex-lg lg:text-2xl text-white">
        ชื่อ: {{ lessonDetail?.name }}
      </p>
      <p class="text-xs text-white lg:text-xl md:text-lg">
        email: {{ lessonDetail?.email }}
      </p>
      <p class="hidden sm:block md:text-md text-xs">
        สมัครสมาชิกเมื่อวันที่: {{ lessonDetail?.create_at }}
      </p>
    </div>
    <div class="">
      <p class="text-xs lg:text-xl">
        คำตอบทั้งหมด {{ lessonDetail?.counter }}/5 คำตอบ
      </p>
      <p class="text-xs lg:text-md">
        ส่งคำตอบเมื่อวันที่: {{ lessonDetail?.send_at }}
      </p>
      <p class="text-xs lg:text-md">
        เวลาในการทำเฉลี่ย {{ lessonDetail?.avgtime }} ชั่วโมง
      </p>
    </div>
  </div>
</div>
