<div *ngIf="isLoad" class="w-full h-screen grid place-content-center">
  <span class="loading loading-infinity loading-lg"></span>
</div>
<main
  *ngIf="!isLoad"
  class="flex h-screen w-100 items-center justify-center bg-base-200 px-5"
>
  <div
    class="rounded-xl justify-start items-center p-8 shadow-xl bg-base-100 flex flex-col w-96 h-auto text-white"
  >
    <mat-icon class="scale-[3] my-5">integration_instructions</mat-icon>
    <p class="text-4xl font-bold font-[th-font]">แบบทดสอบ</p>
    <p class="text-md font-light font-[th-font] tracking-widest">
      สำหรับทดสอบDeveloper
    </p>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="w-full mb-3 text-black h-full"
    >
      <label class="form-control w-full max-w-xs mb-1">
        <div class="label">
          <span class="label-text">อีเมล :</span>
        </div>
        <input
          formControlName="email"
          required
          type="email"
          placeholder="example@email.com"
          class="input bg-white input-sm w-full max-w-xs"
          [ngClass]="{
            'input-error':
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
          }"
        />

        <div class="label">
          <span
            *ngIf="validateForm('email').errors && !resError?.password"
            class="label-text-alt text-error"
            >{{ validateForm("email").message }}</span
          >
        </div>
      </label>
      <label class="form-control w-full max-w-xs mb-6">
        <div class="label">
          <span class="label-text">รหัสผ่าน :</span>
        </div>
        <div class="relative">
          <input
            formControlName="password"
            required
            [type]="passwordType"
            placeholder="กรุณากรอกรหัสผ่าน"
            class="input bg-white input-sm w-full max-w-xs"
            [ngClass]="{
              'input-error':
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty)
            }"
          />

          <button (click)="eyeToggle($event)" class="absolute right-2 top-1.5">
            <mat-icon>{{ eyeIcon }}</mat-icon>
          </button>
        </div>
        <div class="label">
          <span
            *ngIf="validateForm('password').errors && resError?.status !== 401"
            class="label-text-alt text-error"
            >{{ validateForm("password").message }}</span
          >
          <span *ngIf="resError?.password" class="label-text-alt text-error">{{
            validateForm("password").message
          }}</span>
        </div>
      </label>

      <button
        routerLink="desc"
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-info btn-sm text-xl w-full font-[th-font] text-white"
      >
        ทดสอบ
      </button>
    </form>
    <p class="">
      หากยังไม่มีบัญชัผู้ใช้
      <a
        routerLink="/register"
        class="text-primary underline underline-offset-1"
        >คลิกที่นี่</a
      >
    </p>
  </div>
</main>
