<main class="w-full h-screen py-28 bg-base-200 font-[th-font] px-12 text-white">
  <p class="text-center text-2xl sm:text-5xl">
    คำอธิบาย
    <mat-icon class="scale-90 sm:scale-150">description</mat-icon>
  </p>

  <div class="sm:w-9/12 mx-auto mt-10 sm:mt-20">
    <p
      class="text-ceter break-words text-wrap font-extralight text-sm sm:text-2xl"
    >
      &nbsp;&nbsp;&nbsp; การทำแบบทดสอบนี้จะไม่มี Output หรือ
      การตรวจสอบคำตอบให้ท่านสามารถใช้โปรแกรม Code Editor หรือ IDE อื่น
      เพื่อใช้ในการ Run
      Codeเพื่อตรวจสอบคำตอบก่อนนำมาตอบกรุณาตรวจสอบคำตอบอีกรอบก่อนส่งคำตอบเพราะจะไม่สามารถกลับมาแก้ไขได้
      <br /><br />ขอให้โชคดี ^_^
    </p>
    <a
      routerLink="/unit"
      class="btn self-start mt-5 btn-info text-white text-sm btn-sm sm:btn-md sm:text-xl tracking-widest font-[th-font]"
    >
      ทำแบบทดสอบ
    </a>
  </div>
</main>
